*.class

# Package Files #
*.war
*.ear
target/*
*/target

# IDEA Intellij Files *
.idea/*
*.iml
*.DS_Store
# Netbeans Files #
.nbproject/*
build.xml
nb-build.xml
*nbactions.xml
* Eclipse Files #
.project
.classhpath
